<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="conn" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={dir}\test.accdb" />-->
    <add key="conn" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=F:\KH\MyTest\WinFormTestRegEx\WinFormTestRegEx\test.accdb;Persist Security Info=True" />
  </appSettings>
</configuration>
