<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--<add key="conn" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={dir}\test.accdb" />-->
    <add key="conn" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=H:\Private\WinFormTestRegEx\WinFormTestRegEx\test.accdb;Persist Security Info=True" />

    <!--加载内容文件-->
    <!--<add key="loadHtml" value="F:\KH\MyTest\WinFormTestRegEx\WinFormTestRegEx\loadHtml.txt" />-->
    <add key="loadHtml" value="H:\Private\WinFormTestRegEx\WinFormTestRegEx\loadHtmlDetail.txt" />
    
    <!--0是随机,1是第一个,2是第二个以此类推-->
    <add key="userAgentReadType" value="0" />
    <!--浏览器访问的userAgent,多个以^分隔开  1.谷歌 2.FF 3.FF64位 4.360急速模式 5.360兼容模式和IE8-->
    <add key="userAgent" value="
         Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116 Safari/537.36
         ^
         Mozilla/5.0 (Windows NT 6.1; WOW64; rv:49.0) Gecko/20100101 Firefox/49.0
         ^
         Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:50.0) Gecko/20100101 Firefox/50.0
         ^
         Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/45.0.2454.101 Safari/537.36
         ^
         Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1; WOW64; Trident/4.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; .NET4.0C; .NET4.0E; InfoPath.2)
         " />

    <!--适用于表,多个以逗号隔开,[]里的是不显示的字段用|隔开,-->
    <add key="SuitTblName" value="DataInfo[Id|StepSettingId|OpDate]" />
    
    <!--是否默认开启console窗体-->
    <add key="consoleWinForm" value="false" />
  </appSettings>
</configuration>
